# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# Local Netlify folder
.netlify
client_secret_673556639603-d09j7jreb70lbi3k0hjon1td10d6ne9r.apps.googleusercontent.com.json

# Test outputs
src/services/__test-output__/
supabase/migrations/20250430000003_add_slack_notification_settings.sql
